@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

/* VARS */
:root {
  --tertiary-color: #0588a8;
  --font-color: #444;
}

/* BASE STYLES */
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-weight: 300;
}

p {
  line-height: 1.7rem;
  letter-spacing: 0.02rem;
}

ul {
  list-style-type: none;
}

a {
  color: var(--tertiary-color);
}

/* NAV */
.nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #8a8a8a;
  box-shadow: 0px 2px 2px 2px #33333320;
}

.nav__header {
  margin: 1.2rem 0;
  flex: 3 1 600px;
  text-align: center;
  color: var(--font-color);
}

.nav__links {
  display: flex;
  flex: 1 1 400px;
  list-style-type: none;
}

.nav__link a {
  color: #444;
}

.nav__link a,
.nav__link--selected a {
  font-size: 0.9rem;
  text-decoration: none;
  padding: 1rem 1.2rem;
  margin: 0 0.1rem;
  transition: 0.25s;
}

.nav__link--selected a,
.nav__link a:hover {
  color: var(--tertiary-color);
  border-bottom: 1px solid var(--tertiary-color);
}

/* BLOCKS */
.landing {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("img/landing-bg.jpg");
  background-position: center;
  background-size: cover;
}

.landing__content {
  max-width: 600px;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
}

.landing__content h1 {
  font-size: 2rem;
  color: #ececec;
  font-weight: 400;
}

.landing__content p {
  color: #dbdbdb;
}

.title--lg {
  font-size: 2rem;
}

.title--md {
  font-size: 1.8rem;
}

.lang-icon {
  width: 120px;
  height: 130px;
  image-rendering: crisp-edges;
}

/* UTILS */
.container {
  max-width: calc(1100px - 2rem);
  margin: 0 auto;
  padding: 1rem;
}

.flex--row-center,
.flex--row {
  display: flex;
}

.flex--row-center {
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.flex--row > * {
  width: calc(50% - 2rem);
  height: 100%;
  padding: 1rem;
}

#footer-copy {
  background: #444444;
  color: white;
  text-align: center;
  padding: 1.5rem 0;
  margin: 0;
}
